
section {
    background-color: rgb(255, 255, 240);
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.params {
     
  max-height: 500px;
  width: 400px;

  
 

}

.params:hover{
    background-color: bisque;
    border-radius: 5px;
    
}


.icons {
  max-height: 200px;
  width: 300px;
  border-radius: 5px;
}
